<script src="{{ url_for('static', filename='configure.js') }}"></script>
<h4>Configure</h4>
<div class="container">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-control">
            <div class="row">
                <div class="controls col-md-2">
                    <!-- Configuration Options -->
                    <div class="mb-4">
                        <div class="form-control">
                            <h6>Configuration Options</h6>
                            {% for choice, label, choice_id in form.configure.configuration_options.choices %}
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="radio"
                                        name="{{ form.configure.configuration_options.name }}"
                                        id="{{ choice_id }}"
                                        value="{{ choice }}"
                                        {% if choice == form.configure.configuration_options.data %} checked {% endif %}
                                        >
                                    <label class="form-check-label" for="{{ choice_id }}">
                                        {{ label }}
                                    </label>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <label for="config-filter">{{form.configure.filter.label}}:</label>
                                {{ form.configure.filter(class="form-select", id="config-filter") }}
                            </div>
                        </div>
                    </div>

                    <!-- Specific Mode Options -->
                    <div id="specific-mode-options" class="mb-4">
                        <div class="form-control">
                            <h5>Specific Mode Options</h5>
                            <div class="form-group">
                                <label for="config-slit-type">Slit Type:</label>
                                {{ form.configure.slit_type(class="form-select", id="config-slit-type") }}
                            </div>
                            <div class="form-group">
                                <label for="config-slit-width">Slit Width:</label>
                                {{ form.configure.slit_width(class="form-select", id="config-slit-width") }}
                            </div>
                            <div class="form-group">
                                <label for="config-grating">Grating:</label>
                                {{ form.configure.grating(class="form-select", id="config-grating") }}
                            </div>
                            <div class="form-group">
                                <label for="config-grating-angle">Grating Angle:</label>
                                {{ form.configure.grating_angle(class="form-select", id="config-grating-angle") }}
                            </div>

                        </div>

                    </div>
                    <div class="form-group">
                        {{ form.configure.update_throughput(class="btn btn-primary mt-2")}}
                    </div>
                </div>
                <div class="plot col-md-10">
                    <!-- Plot Section -->
                    <div id="config-telescope-throughput-plot" class="mb-5">
                        <div class="form-control">
                            <!-- Include your plot or chart here -->
                            <div style="width: 900px; height: 500px; background-color: grey;">
                                {{ html|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

