<h4>Make An Exposure</h4>
<script src="{{ url_for('static', filename='exposure.js') }}"></script>
<div class="container">
    <form method="POST">
    <div class="form-control">
        <div class="row">
            <div class="col-md-6">
                <div class="form-control">
                    <!-- Input Section -->
                    <h6>Input</h6>
                    <div>
                        <!-- Content for the first row, first column -->
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-control">
                                    <h6>Gain:</h6>
                                    <div class="row">
                                            <!-- Gain Radio Buttons -->
                                            <div class="col-md-12 mt-2">
                                                {% for choice, label, choice_id  in form.exposure.gain.choices %}
                                                    <div class="form-check">
                                                        <input
                                                            class="form-check-input"
                                                            type="radio"
                                                            name="{{ form.exposure.gain.name }}"
                                                            id="{{ choice_id }}"
                                                            value="{{ choice }}"
                                                            {% if choice == form.exposure.gain.data %} checked {% endif %}
                                                        >
                                                        <label class="form-check-label" for="{{ choice_id }}">
                                                            {{label}}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <!-- Content Sections -->
                                            <div class="col-md-12 mt-2">
                                                <!-- Bright Section -->
                                                <div class="gain-content" id="bright-object" style="display: none;">
                                                    <div class="form-control">
                                                        <p>
                                                            5.74 e<sup>-</sup>/ADU
                                                        </p>
                                                        <p>
                                                            Read Noice = 20 e<sup>-</sup>
                                                        </p>

                                                        <p>
                                                            Full Well = 120 000 e<sup>-</sup>
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- Faint Section -->
                                                <div class="gain-content" id="faint-object">
                                                    <div class="form-control">
                                                        <p>
                                                            2.04 e<sup>-</sup>/ADU
                                                        </p>
                                                        <p>
                                                            Read Noice = 17 e<sup>-</sup>
                                                        </p>

                                                        <p>
                                                            Full Well = 60 000 e<sup>-</sup>
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- Custom Section -->
                                                <div class="gain-content" id="custom-object" style="display: none;">
                                                    <div class="form-control">
                                                        <div class="form-group">
                                                            <div class="row mt-1">
                                                                <div class="col-md-7">
                                                                    {{form.exposure.electrons(class="form-control", id="custom-electrons")}}
                                                                </div>
                                                                <div class="col-md-5 pt-2">
                                                                    <label for="custom-electrons">e<sup>-</sup>/ADU</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">

                                                            <div class="pt-2"><label for="custom-read-noice">Read Noice</label></div>
                                                            <div class="row">
                                                                <div class="col-md-9">
                                                                    {{form.exposure.read_noice(class="form-control", id="custom-read-noice")}}
                                                                </div>
                                                                <div class="col-md-3">e<sup>-</sup></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">

                                                            <div class="pt-2"><label for="custom-full-well">Full Well</label></div>
                                                            <div class="row mt-1">
                                                                <div class="col-md-9">
                                                                    {{form.exposure.full_well(class="form-control", id="custom-full-well")}}
                                                                </div>
                                                                <div class="col-md-3 pt-2">e<sup>-</sup></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-7 mt-2">
                                <div class="form-control">
                                    <h6>Sampling</h6>
                                    <div class="row">
                                        <!-- Sampling Radio Buttons -->
                                        {% for choice, label, image_url in form.exposure.sampling.choices  %}
                                            <div class="col-md-6">
                                                <div class="form-check">
                                                    <input
                                                        class="form-check-input"
                                                        type="radio"
                                                        name="{{ form.exposure.sampling.name }}"
                                                        id="{{ choice }}"
                                                        value="{{ choice }}"
                                                        {% if choice == form.exposure.sampling.data %} checked {% endif %}
                                                    >
                                                    <label class="form-check-label" for="{{ choice }}">
                                                        {{ label }}
                                                    </label>
                                                </div>
                                                <div>
                                                    <img
                                                        style="width: 150px; height: 130px; background-color: grey;"
                                                        src="{{ url_for('static', filename=image_url) }}"
                                                        alt="{{ label }}"
                                                >
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <!-- Sampling Size-->
                                        <div class="col-md-8 mt-2">
                                            <div class="form-group">
                                                <label class="form-check-label" for="expo-sample-number">
                                                    Number Of Samples
                                                </label>
                                                {{ form.exposure.samples_number(class="form-control", id="expo-sample-number") }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="form-control">
                                    <!-- Tab Navigation -->
                                    <ul class="nav nav-tabs" id="myTabs" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="expo-solve-snr" data-bs-toggle="tab"
                                               href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">
                                                Solve For SNR
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="expo-solve-exposure-time" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">
                                                Solve For Exposure Time
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- Tab Content -->
                                    <div class="tab-content" id="myTabsContent">
                                        <!-- Tab 1 Content -->
                                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="expo-solve-snr">
                                            <div class="form-control">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label class="form-check-label" for="expo-exposure-time">
                                                            Exposure Time
                                                        </label>
                                                        {{ form.exposure.exposure_time(class="form-control", id="expo-exposure-time") }}
                                                    </div>

                                                    <div class="col-md-12 mt-2">
                                                        <label class="form-check-label" for="expo-detector-iterations">
                                                            Detector Iterations
                                                        </label>
                                                        {{ form.exposure.detector_iterations(class="form-control", id="expo-detector-iterations") }}
                                                    </div>

                                                    <div class="col-md-12 mt-4 mb-2">
                                                        {{ form.exposure.solve_snr(class="form-control btn btn-info mt-2") }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Tab 2 Content -->
                                        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="expo-solve-exposure-time">
                                            <div class="form-control">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="form-check-label" for="solve-requested-snr">
                                                                Requested SNR
                                                            </label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input class="form-control" type="text" name="sample-number" id="solve-requested-snr" value="10">
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p>
                                                                SNR Requested At which Wavelength
                                                            </p>
                                                        </div>
                                                        <div class=" col-md-4">
                                                            <input
                                                                    disabled
                                                                    class="form-check-input"
                                                                    type="radio"
                                                                    name="expo-wavelength"
                                                                    id="solve-central-wavelength"
                                                                    checked
                                                            >
                                                            <label class="form-check-label" for="solve-central-wavelength">
                                                                Central Wavelength
                                                            </label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            {{ form.exposure.central_wavelength(class="form-control", id="central-wavelength") }}
                                                        </div>
                                                        <div class="col-md-4 pt-2">(&#226; &#9001; &#171;)</div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <input class="form-check-input" type="radio" name="expo-wavelength" id="solve-specified-wavelength" disabled>
                                                            <label class="form-check-label" for="solve-specified-wavelength">
                                                                Specified Wavelength
                                                            </label>
                                                        </div>
                                                        <div class="col-md-4 mt-2">
                                                            {{ form.exposure.specified_wavelength(class="form-control", id="specified-wavelength") }}
                                                        </div>
                                                        <div class="col-md-4 pt-2">(&#226; &#9001; &#171;)</div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12  mt-4 mb-2">
                                                            {{ form.exposure.solve_ext(class="form-control btn btn-info mt-2") }}
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-control mt-2">
                    <h5>Instrument Status</h5>
                    <div class="form-control">
                        <!-- Content for the second row, first column -->
                        <div style="width: 700px; height: 300px; background-color: ghostwhite;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-control">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-control">
                                <h6>Target Electrons</h6>
                                <!-- Content for the first row, second column -->
                                <div style="width: 700px; height: 405px; background-color: grey;"></div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-2">
                            <div class="form-control">
                                <h5>Additional Output</h5>
                                <!-- Content for the second row, second column -->
                                <div style="width: 700px; height: 405px; background-color: grey;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
