.chart-container {
    position: relative;
    width: 99%;
    height: 40vh;
    padding: 5px;
}

.watermark {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6vw;
    color: rgba(255, 0, 0, 0.5); /* Set the opacity for transparency */
}
