.chart-container {
    position: relative;
    width: 910px;
    height: 460px;
    padding: 5px;
}

.watermark {
    position: absolute;
    top: 150px;
    left: 200px;
    font-size: 100px;
    color: rgba(255, 0, 0, 0.5); /* Set the opacity for transparency */
}
