{% extends 'base.html' %}

{% block content %}
<h4>General Spectra</h4>
<div class="container">
    <div class="form-control">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row mt-2">

                                <div class="col-md-12">
                                    <div class="form-control">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button class="btn btn-secondary">Add Spectra</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-secondary">Save Target Spectra</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-secondary ml-4">Open Target Spectra</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-5">
                                <div class="form-control">
                                    <div class="form-check">
                                        <input
                                                class="form-check-input"
                                                type="radio"
                                                name="general-source-type"
                                                id="general-point-source"
                                                value="point-source"
                                                checked
                                        >
                                        <label class="form-check-label" for="general-point-source">
                                            This is a point source
                                        </label>
                                    </div>
                                    <div class="form-check mb-4">
                                        <input
                                                class="form-check-input"
                                                type="radio"
                                                name="general-source-type"
                                                id="general-defused-source"
                                                value="defused-source"
                                        >
                                        <label class="form-check-label" for="general-defused-source">
                                            This is a diffuse source
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-control">
                                    <h6>Spectrum Plot Options</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="atmospheric-extinction" name="spectrum-plot-options" value="atmospheric-extinction">
                                        <label class="form-check-label" for="atmospheric-extinction">
                                            Include atmospheric extinction
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="multiply-flux" name="spectrum-plot-options" value="multiply-flux">
                                        <label class="form-check-label" for="multiply-flux">
                                            Multiply flux with mirror area and efficiency
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="calculate-flux" name="spectrum-plot-options" value="calculate-flux">
                                        <label class="form-check-label" for="calculate-flux">
                                            Calculate flux in seeing disk
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="form-control">
                            <h6>Solar Items</h6>
                            <div class="form-group">
                                <label for="obs-year">Obs Year:</label>
                                <input disabled type="number" class="form-control" id="obs-year" name="obs-year" value="2015">
                            </div>
                            <div class="form-group">
                                <label for="solar-elongation">Solar Elongation:</label>
                                <input disabled type="number" class="form-control" id="solar-elongation" name="solar-elongation" value="0">
                            </div>
                            <div class="form-group mb-4">
                                <label for="ecliptic-latitude">Ecliptic Latitude:</label>
                                <input disabled type="number" class="form-control" id="ecliptic-latitude" name="ecliptic-latitude" value="-90">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="form-control">
                            <h6>Lunar Items</h6>
                            <div class="form-group">
                                <label for="quick-select">Quick Select</label>
                                <select disabled class="form-select" id="quick-select">
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="moon-zd">Moon ZD:</label>
                                <input disabled type="number" class="form-control" id="moon-zd" name="moon-zd" value="0">
                            </div>
                            <div class="form-group">
                                <label for="lunar-phase">Lunar Phase:</label>
                                <input disabled type="number" class="form-control" id="lunar-phase" name="lunar-phase" value="0">
                            </div>
                            <div class="form-group">
                                <label for="lunar-elongation">Lunar Phase:</label>
                                <input disabled type="number" class="form-control" id="lunar-elongation" name="lunar-elongation" value="0">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 mt-2">
                        <div class="form-control">
                            <h6>Earthly Items</h6>
                            <div class="form-group">
                                <label for="target-zd">Target ZD:</label>
                                <input type="number" class="form-control" id="target-zd" name="target-zd" value="31">
                            </div>
                            <div class="form-group">
                                <label for="effective-telescope-area">Effective Telescope Area</label>
                                <input type="number" class="form-control" id="effective-telescope-area" name="effective-telescope-area" value="460000">
                            </div>
                            <div class="form-group mb-4">
                                <label for="seeing-at-zenith">Seeing (At Zenith)</label>
                                <input type="number" class="form-control" id="seeing-at-zenith" name="seeing-at-zenith" value="1.0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-control">
                    To be replaced with plots
                    <div style="width: 730px; height: 400px; background-color: grey;"></div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <div class="form-control">
                                to be replaced with source
                                <div style="width: 730px; height: 320px; background-color: ghostwhite;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-4">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-primary">Update Spectrum</button>
                            </div>
                            <div class="col-md-6 text-center">
                                <button class="btn btn-danger">Clear Spectrum</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-control">
                    To be replaced with plots
                    <div style="width: 730px; height: 400px; background-color: grey;"></div>
                </div>

            </div>
        </div>
    </div>

</div>


<br><br><br>
<br><br>


{% endblock %}

{% block active_tab %}general{% endblock %}
